@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.input {
  @apply flex w-[90%] relative items-center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  outline: none;
}

.input__submit {
  @apply absolute w-[50px] h-[50px] text-[15px] bg-[#2f74c0] text-[white] transition-[0.2s] duration-[all] shadow-[0_0_10px_black] m-3 rounded-[50px] border-[none] right-0;
}

.input_submit:hover {
  @apply bg-[#388ae2];
}

.input_submit:active {
  @apply shadow-[0_0_5px_black] scale-[0.8];
}

.todos {
  @apply flex justify-evenly w-[90%] flex-wrap;
}


.todos__single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  height: 100px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}

.todos__single--text {
  @apply flex-1 text-xs p-[5px] border-[none];
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  @apply text-[25px] cursor-pointer flex ml-20;
}

@media (max-width: 1200px) {
  .todos__single {
    @apply w-2/5;
  }
}

@media (max-width: 700px) {
  .input {
    @apply w-[95%];
  }

  .todos {
    @apply w-[95%];
  }

  .todos__single {
    @apply w-full;
  }
}