/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: sans-serif;
}

body {
  @apply overflow-x-hidden m-0;
  scrollbar-width: thin;
  background-color: rgb(47,116,192)
}

::-webkit-scrollbar {
  @apply h-3 w-[5px];
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}